.headerimg
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.part2
{
	float:left;
}


.tabs
{
	background:#ff6f00;
	height:50;
	margin-top:3px;
	margin-left: 3px;
	margin-right: 3px;
	clear:both;
	border-bottom:5px solid #ff6f00;
	border-left:5px solid #ff6f00;
	border-right:5px solid #ff6f00;
	border-radius: 10px 10px 0px 0px;
}

.container
{
	clear:both;
	height:450px;
	border-top:5px solid #ff6f00;
	border-bottom:5px solid #ff6f00;
	border-left:5px solid #ff6f00;
	border-right:5px solid #ff6f00;
	background:white;
	border-radius: 15px;
	width:712px;
}


.s1
{
	margin-left:5px;
	margin-top:3px;
	margin-bottom:3px;
	padding-top:6px;
	float:center;
	background:#ff6f00;
	text-align:center;
	color:white;
	font-size:20px;
	font-weight:bold;
	border-radius:10px 10px 0px 0px;
	}

.button
{   border: 0px;
	margin: 10px 10px 10px 150px;
	padding:5px 10px;
	border-radius:5px;
	background:#ff6f00;
	color:white;
	box-shadow:3px 4px 2px #bb4911;
	font-size:15px;
	font-weight:bold;
	
	
}

.button:active
{
	border: 0px;
	margin: 10px 10px 10px 150px;
	padding:5px 10px;
	border-radius:5px;
	background:white;
	color:#ff6f00;
	box-shadow: 2px 3px 0px #ffc2a4;
	font-size:15px;
	font-weight:bold;
	
}

.button:focus
{
	outline:0;
}

textarea
{	
	resize: none;

}